# Copia a .env (docker compose lo lee automáticamente)
DJANGO_SECRET_KEY=cambia-esto-por-uno-seguro
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_NAME=vitrina
DB_USER=vitrina
DB_PASSWORD=vitrina

VITE_API_URL=http://localhost:8001/api
